name: Dev Deploy

on:
  push:
    branches:
      - dev

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml
    secrets: inherit

  release-dev:
    name: Deploy to Dev Environment
    needs: test
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Initialize custom bot
        id: bot
        uses: starburst997/custom-bot-init@v1
        with:
          app-id: ${{ secrets.BOT_ID }}
          private-key: ${{ secrets.BOT_KEY }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.bot.outputs.token }}

      - name: Tag Version
        id: version
        uses: starburst997/auto-version@v1
        with:
          git-push: false

      - name: Build and Push Docker with Helm
        uses: starburst997/docker-helm-push@v1
        with:
          additional-tags: dev
          helm-namespace: "charts/dev"
          version: ${{ steps.version.outputs.version }}
          version-breakdown: true
          git-push: true
