name: Production Deploy

on:
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml
    secrets: inherit

  release-production:
    name: Deploy to Production
    needs: test
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Initialize custom bot
        id: bot
        uses: starburst997/custom-bot-init@v1
        with:
          app-id: ${{ secrets.BOT_ID }}
          private-key: ${{ secrets.BOT_KEY }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.bot.outputs.token }}

      - name: Tag Version
        id: version
        uses: starburst997/auto-version@v1
        with:
          update-major-minor: true
          git-push: false

      - name: Build and Push Docker with Helm
        uses: starburst997/docker-helm-push@v1
        with:
          additional-tags: latest
          version: ${{ steps.version.outputs.version }}
          version-breakdown: true
          git-push: true

      - name: Generate changelog and create release
        uses: starburst997/commits-logs@v1
        with:
          token: ${{ steps.bot.outputs.token }}
